extends base
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{nombrePagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis ligula aliquam viverra scelerisque. Suspendisse massa ante, tincidunt sed magna vel, ultricies fermentum ex. Aliquam vitae blandit diam, et vulputate 
                p quam sit amet pellentesque iaculis. Nam a interdum augue. Sed dictum erat sed enim sollicitudin efficitur. Fusce nunc sem, facilisis at vestibulum quis, laoreet et est. Donec ac libero lacus. Quisque lobortis dolor scelerisque, finibus nunc vel, viverra purus. Ut eleifend venenatis suscipit. Sed posuere quam turpis, ac ultrices elit gravida sit amet. Phasellus varius imperdiet est, eu vehicula nisl mattis vel.

        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p quam sit amet pellentesque iaculis. Nam a interdum augue. Sed dictum erat sed enim sollicitudin efficitur. Fusce nunc sem, facilisis at vestibulum quis,
                    .col-md-4  
                        img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                        h2.mb-4 Destinos//
                        p quam sit amet pellentesque iaculis. Nam a interdum augue. Sed dictum erat sed enim sollicitudin efficitur. Fusce nunc sem, facilisis at vestibulum quis,
                    .col-md-4  
                        img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                        h2.mb-4 Precios
                        p quam sit amet pellentesque iaculis. Nam a interdum augue. Sed dictum erat sed enim sollicitudin efficitur. Fusce nunc sem, facilisis at vestibulum quis,
                        

    //p Desde PUG D:
    //p= descripcion
    //p Desde $#{costoBase} moneada nacional xd
    //img(src="img/cupon.jpg")
