footer(class="container py-5")
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a(class="nav-link", href="/nosotros") Nosotros
                a(class="nav-link", href="/viajes") Viajes
                a(class="nav-link", href="/testimoniales") Testimoniales
        .col
            p.copyright.text-center.text-md-right Todos los derechos reservados 
                span= anio